*{
    margin: 0;
    padding: 0;
}

header{
    /*margin: 8px;*/
    padding: 1px;
    background-color: #085f18; /* For browsers that do not support gradients */
    background-image: linear-gradient( #065215b9, #0e8624);
}

header h5{
    margin-bottom: 50px;
    color: rgb(255, 255, 255);
    /*font-family: 'Arial Black', sans-serif;*/
}

section{
    margin-bottom: 10px;
}

section, footer{
    background: rgba(245, 245, 245, 0.696);
}

footer{

    background-color: #000; /* For browsers that do not support gradients */
    background-image: linear-gradient( #0e8624 , #065215b9);

    padding: 50px 0px 20px 0px;
    position: relative;
}

footer h4{
    color: white;
    font-size: 1em;
    text-transform: uppercase;
}

footer .navbar-nav a{
    color: white;
    font-size: 0.8em;
}

footer .navbar-nav a:hover{
    text-decoration: underline;
}

footer ul{
    list-style: none;
}

footer ul li{
    float: right;
    margin: 0 5px;
}

#titulo{
    margin-bottom: 10px;
}

#titulo-fonte{
    margin-top: -100px;

    color: rgb(255, 255, 255);
    font-family: 'Arial Black', sans-serif;
}

#nav-principal{
    margin-top: 5em;
    margin-right: 5em;
    border-radius: 10px;
}

#nav-principal a{
    background-color: rgba(0, 0, 0, 0.042);
    font-size: 14px;
    font-family: 'Arial Black', sans-serif;
    color: rgb(255, 255, 255);
    border-radius: 5px;
}

#nav-principal a:hover{
    color: rgba(16, 16, 16, 0.515);
}

#coluna-form{
    /*border: 2px solid rgba(0, 128, 0, 0.514);*/
    border-right: 1px solid rgba(0, 128, 0, 0.514);
    height: 500px;
}
/*
#coluna-mapa{
    border-right: 2px solid rgba(0, 128, 0, 0.514);
    border-top: 2px solid rgba(0, 128, 0, 0.514);
    border-bottom: 2px solid rgba(0, 128, 0, 0.514);
}*/

#form-buscar-cidade{
    margin-left: 355px;
}

#map { 
    margin-top: 10px;
    margin-left: -5px;
    height: 445px;
    width: 740px;
}

.coluna{   
    margin-top: 20px;
}

.select{
    width: 350px;
    margin-bottom: 10px;
}